html, body, .container, .row {
    height: 100%;
}

body {
    background: #d9d6c3;
}

.loginContainer {
    background: #FFE27F;
/*    border: 1px solid #D4B240;
    border-right: 1px solid #A08730;
    border-bottom: 1px solid #A08730;*/
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.loginSubContainer{
    position: relative;
    margin: 25px;
    padding: 25px 30px;
    background: #fff;
    border: 1px solid #EFCA4A;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}

.login_img{position: absolute;top:0px;right:-260px;}

.blog_description{color:#ffffff;text-align: center;padding-top: 20px;}
.blog_description p{font-size:24px;font-weight: bold;}