{{#extend "stylesheets"}}
<link rel="stylesheet" type="text/css" href="/css/aboutme.css"/>
{{/extend}}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <h3>这就是我</h3>
            <div class="personalPhoto">

            </div>
            <p class="introduction">
                个人简介：热爱前端的妹纸
            </p>
            <p class="contactMe">
                联系方式：songyuhua123012008088@gmail.com
            </p>
        </div>
    </div>
</div>
