{{#extend "stylesheets"}}
<link rel="stylesheet" href="/libs/google-code-prettify/bin/prettify.min.css"/>
<link rel="stylesheet" href="/modules/highlight/styles/default.css"/>
{{/extend}}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            {{#article}}
            <h1>{{title}}</h1>
            <p>{{#datetimeFormat meta.updateAt format="YYYY-MM-DD HH:mm:ss"}}{{/datetimeFormat}}  标签：{{tags}}  分类：{{category}}  <a href="/admin/article/update/{{_id}}">编辑</a></a><br/>
            </p>
            {{{content}}}
            {{/article}}
        </div>
    </div>
</div>

{{#extend "scripts"}}
<script src="/libs/google-code-prettify/bin/prettify.min.js"></script>
<script src="/modules/highlight/highlight.pack.js"></script>
<script src="/js/main/detail.js"></script>

{{/extend}}