<!doctype html>

<head>
  <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css"/>
<!--    <link rel="stylesheet" type="text/css" href="css/normalize.css" />-->
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <link rel="stylesheet" href="/css/index.css"/>
    {{{block "stylesheets"}}}
</head>

<body>
<div id="perspective" class="perspective effect-airbnb">
    <div class="wrapper_container">
        <div class="wrapper">
            <button class="menu-button" id="showMenu">Open Menu</button>
            {{{body}}}
        </div>
    </div>

  <nav class="outer-nav left vertical">
      <a href="/" class="glyphicon glyphicon-home">Home</a>
      <a href="/aboutMe"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> about me</a>
  </nav>
  </div><!-- /perspective -->
  <!-- Bootstrap -->
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
<script src="/js/tools/perspectivePageViewNavigation/modernizr.custom.25376.js"></script>
<script src="/js/tools/perspectivePageViewNavigation/classie.js"></script>
<script src="/js/tools/perspectivePageViewNavigation/menu.js"></script>
  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  {{{block "scripts"}}}
</body>
</html>
